<header>
  <div class="header-logo">
    <a href = "/">Home-yo<a>
  </div>
  <ul class="header-menus">
    <a href = "/about"><li>Home-yoとは</li><a>
    <a href = "/posts/index"><li>投稿一覧</li><a>
  </ul>
</header>
<body>
    <div class = "main top-main">
        <div class = "top-message">
            <h2>お互いに、ほめよう</h2>
            <h3>あなたも誰かのことをほめてみませんか？</h3>
        </div>
    </div>
</body>