<header>
  <div class="header-logo">
    <a href = "/">Home-yo<a>
  </div>
  <ul class="header-menus">
    <a href = "/about"><li>Home-yoとは</li><a>
  </ul>
</header>
<body>
    <div class = "post-main">
    </div>
</body>