<div class="main posts-show">
  <div class="container">
      <h1>投稿詳細画面です</h1>
    <div class="posts-show-item">
      <%= @post.content %>
      <h5><%= @post.created_at %></h5>
    </div>
  </div>
</div>